
				    #otherClients {
							height:50px;
							/*overflow-y:scroll;*/
				    }
				    #selfVideo {
							height:100%;
							width:100%;
							/*float:left;*/
							/*border:1px solid gray;*/
							/*margin-left:10px;*/
				    }
				    .callerVideo {
							height:140px;
							width:200px;
							border:1px solid gray;
							/*margin-left:10px;*/
				    }


				    #videos{
						display: flexbox;
						flex-direction: column;
						flex-pack:center;
				    }

		